div.cryptograph {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: Arial;
}

div.cryptograph h2.title {
  font-size: 30px;
  margin-bottom: 15px;
}

div.cryptograph div.cryptocanvas {
  order: 2;
}

div.cryptograph div.cryptocanvas canvas#overlay {
  position: absolute;
  pointer-events: none;
}

div.cryptograph div.cryptocanvas canvas#main {
  width: auto;
  height: auto;
}

div.cryptograph div.cryptograph-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  order: 1;
  margin-bottom: 10px;
}

div.cryptograph div.currencies-list {
  order: 1;
}

div.cryptograph div.daterange {
  order: 2;
}

div.cryptograph div.daterange input {
  cursor: pointer;
  padding: 5px 15px 5px 15px;
  background: #f3f3f3;
  border: 0;
  border-left: 3px solid #d2d2d2;
  color: #525252;
}

div.cryptograph div.currencies-list button, div.cryptograph div.daterange button {
  cursor: pointer;
  padding: 4px 20px 4px 20px;
  background: #d2d2d2;
  border: 0;
  color: #525252;
  margin-left: 5px;
  position: relative;
}

div.cryptograph div.currencies-list button:hover, div.cryptograph div.daterange button:hover {
  background: #bdbdbd;
}

div.cryptograph div.currencies-list button:hover::after {
  content: 'x';
  position: absolute;
  font-size: 11px;
  right: 8px;
  top: 5px;
}
